html {
	min-height: 100vh;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
	color: #3c4759;
	min-height: 100%;

}

.content {
    min-height: calc( 100vh - 57px );
    margin: 0;
}

header {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	align-items: stretch;
	font-size: 30px;
}

#logoMenu {
    margin: auto;
    font-weight: bold;
	 margin-left: 0;
 }

#logoMenu ul li a {
   color: #3c4759;
	transition: 0.5s;
}

#logoMenu ul li a:hover {
   color: #68768c;
	transition: 0.5s;
}

#registration, #userActions {
   margin-right: 0;
}

#userMenu {
	transition: 0.5s;
	border: 1px solid;
	border-radius: 4px;
	cursor: pointer;
   font-size: 16px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 8px;
	display: inline;
	color: #0095ff;
}

#userMenu:hover {
	transition: 0.5s;
	background-color: #f9f9f9;
	color: #0095ff;
}

ul#userMenuOptions {
	list-style-type: none;
	margin: 0;
	background-color: white;
	border-bottom: 3px solid #0095ff;
	padding: 6px;
	font-size: 14px;
	left: 0;
	top: 0;
	display: none;
	position: absolute;
}

ul#userMenuOptions li {
	display: block;
}

ul#userMenuOptions a {
	color: #3c4759;
}

ul#userMenuOptions li:hover {
	color: #68768c;
}

#navbar {
	background-color: #3c4759;
	box-shadow: 0px 0px 3px #c7c7c7;
}

#userTimezone {
	font-size: 14px;
   font-weight: bold;
   margin: auto 0;
	display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
	 margin-left: 10px;
	 display: inline;
    padding: 0;
    overflow: hidden;
	 font-weight: normal;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    margin: 5px;
	 font-size: 16px;
    text-decoration: none;
}

li a:hover {
	color: #3c4759;
	transition: 1s;
}

#tasks {
	margin-top: 20px;
}

input, select, input[type="color"], input[type="submit"] {
	background-color: white;
	cursor: pointer;
	transition: 0.5s;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 8px;
	display: inline;
}

input[type="button"]:active {
    border-color: #0095ff;
	 transition: 0.5s;
}

input:hover, .taskColumn label:hover, #menuSettings label:hover {
    border-color: #0095ff;
	 color: #68768c;
	 transition: 0.5s;
}

input[type="color"] {
   padding: 0px;
}

form {
    width: 90%;
    padding: 12px;
    margin: 20px auto 0 auto;
    border: 1px solid #ddd;
	 border-radius: 4px;
}


footer {
  padding: 3px;
  position: relative;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background-color: #0095ff;
  color: white;
  text-align: center;
}

.fa, .fas {
	font-weight: 300;
	color: #3c4759;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #3c4759;
}

.group {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
	box-shadow: 1px 1px 3px #ddd;
}

.groupTitle {
	background-color: whitesmoke;
	font-size: 25px;
	font-weight: bold;
	padding: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.task {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.taskColumn, .taskColumnFirst, .taskGroupColumn, .taskGroupColumnFirst {
   float: left;
   width: 15%;
	padding: 12px;
}

.taskColumnFirst {
   width: 70%;
}

.taskGroupColumnFirst {
   width: 85%;
}

.taskTitle {
	font-size: 24px;
}

.taskDeadline {
	font-size: 14px;
	color: #989898;
}

.taskTimeRemainingR, .taskTimeRemainingG {
	border: 1px solid red;
	border-radius: 4px;
	padding: 2px;
}

.taskTimeRemainingR {
	border-color: red;
	color: red;
}

.taskTimeRemainingG {
	border-color: #4CAF50;
	color: #4CAF50;
}

#menuSettings {

}

.taskColumn input, #menuSettings input {
    position: absolute;
    left: -9999px;
}

.taskColumn label, #menuSettings label {
	 display: inline-block;
	 border-radius: 4px;
	 border: 2px solid #ddd;
	 transition: all 0.3s ease-in 0s;
	 background-color: white;
	 padding: 6px 10px;
	 cursor: pointer;
}

input:checked + label, #menuSettings input:checked + label {
    border-color: #4CAF50;
	 transition: all 0.3s ease-in 0s;
}

input + label:before {
    content: "Undone";
    float: left;
	 transition: all 0.3s ease-in 0s;
}

input:checked + label:before {
    content: "Done";
    color: #4CAF50;
    float: left;
	 transition: all 0.3s ease-in 0s;
 }

input#showDone + label:before {
     content: "Hiding done";
 }

 input#showDone:checked + label:before {
      content: "Showing done";
  }
