html {
	min-height: 100vh;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
	color: #3c4759;
	min-height: 100%;
}

#menuUrls {
	z-index: 999;
}

.content {
    min-height: calc( 100vh - 57px );
    margin: 0;
}

header, .taskActions {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	align-items: stretch;
	font-size: 30px;
}

.taskManagment, .taskVisibility, .taskSort {
	width: 33.3%;
}

#logo {
	background-image: url("img/logo.png");
	display: inline-block;
   width: 161px;
	height: 38px;
   background-size: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logoMenu {
    margin: auto;
    font-weight: bold;
	 margin-left: 0;
 }

#logoMenu ul li a {
   color: #3c4759;
	transition: 0.5s;
}

#logoMenu ul li a:hover {
   color: #68768c;
	transition: 0.5s;
}

#registration, #userActions {
   margin-right: 0;
}

#userMenu, .userMenu {
	transition: 0.5s;
	border: 1px solid;
	border-radius: 4px;
	cursor: pointer;
   font-size: 16px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 8px;
	display: inline;
	color: #0095ff;
}

#userMenu:hover {
	transition: 0.5s;
	background-color: #f9f9f9;
	color: #0095ff;
}

ul#userMenuOptions {
	list-style-type: none;
	margin: 0;
	background-color: white;
	border-bottom: 3px solid #0095ff;
	padding: 6px;
	font-size: 16px;
	left: 0;
	top: 0;
	visibility: hidden;
	position: absolute;
}

ul#userMenuOptions li {
	display: block;
}

ul#userMenuOptions a {
	color: #3c4759;
}

ul#userMenuOptions li:hover {
	color: #68768c;
}

#menuUrlsBtn {
	display: none;
}

#userTimezone {
	font-size: 14px;
   font-weight: bold;
   margin: auto 0;
	display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
	 margin-left: 10px;
	 display: inline;
    padding: 0;
    overflow: hidden;
	 font-weight: normal;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    margin: 5px;
	 font-size: 16px;
    text-decoration: none;
}

li a:hover {
	color: #3c4759;
	transition: 1s;
}

.lengthCounter {
	right: 23px;
   top: -16px;
   color: white;
   text-align: center;
   padding: 1px;
   font-size: 13px;
   background-color: #0095ff;
   min-width: 16px;
   text-shadow: 0 1px #0073c5;
   border-radius: 4px;
   position: relative;
   display: inline-block;
}

#tasks {
	margin-top: 20px;
}

input, select, input[type="color"], input[type="submit"] {
	background-color: white;
	cursor: pointer;
	transition: 0.5s;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 8px;
	display: inline;
}

input[type="button"]:active {
    border-color: #0095ff;
	 transition: 0.5s;
}

input:hover, .taskColumn label:hover, .taskVisibility label:hover {
    border-color: #0095ff;
	 color: #68768c;
	 transition: 0.5s;
}

input[type="color"] {
   padding: 0px;
}

form, #form {
    width: 90%;
    padding: 12px;
    margin: 20px auto 0 auto;
    border: 1px solid #ddd;
	 border-radius: 4px;
}


footer {
  padding: 3px;
  position: relative;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background-color: #0095ff;
  color: white;
  text-align: center;
}

a {
	text-decoration: none;
	color: #3c4759;
}

.group {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
	box-shadow: 1px 1px 3px #ddd;
}

.groupTitle {
	background-color: whitesmoke;
	font-size: 25px;
	font-weight: bold;
	padding: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.task {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.taskColumn, .taskColumnFirst, .taskGroupColumn, .taskGroupColumnFirst {
   float: left;
   width: 15%;
	padding: 12px;
}

.taskColumnFirst {
   width: 70%;
}

.taskGroupColumnFirst {
   width: 85%;
}

.taskTitle {
	font-size: 24px;
}

.taskDeadline {
	font-size: 14px;
	color: #989898;
	margin: 5px;
}

.taskTimeRemainingR, .taskTimeRemainingG {
	border: 1px solid;
	white-space: pre;
	border-radius: 4px;
	padding: 2px;
}

.taskTimeRemainingR {
	border-color: red;
	color: red;
}

.taskTimeRemainingG {
	border-color: #4CAF50;
	color: #4CAF50;
}

.taskColumn input, .taskVisibility input {
    position: absolute;
    left: -9999px;
}

.taskColumn label, .taskVisibility label {
	 display: inline-block;
	 font-size: 14px;
	 border-radius: 4px;
	 border: 2px solid #ddd;
	 transition: all 0.3s ease-in 0s;
	 background-color: white;
	 padding: 6px 10px;
	 cursor: pointer;
}

input:checked + label, .taskVisibility input:checked + label {
    border-color: #4CAF50;
	 transition: all 0.3s ease-in 0s;
	 font-size: 14px;
}

ul.errorlist {
    color: red;
    border-radius: 4px;
    padding: 8px;
	 font-weight: bold;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#deadlineInputs {
	display: none;
}

.icon, .icon-big {
   display: inline-block;
   width: 20px;
	height: 20px;
   background-size: 100%;
	margin-left: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.icon-big {
	width: 25px;
	height: 25px;
	margin-left: 0;
	margin-right: 5px;
	margin-top: 3px;
}

.icon-edit {
   background-image: url("icons/edit.png");
}

.icon-delete {
   background-image: url("icons/delete.png");
}

.icon-arrow-up {
   background-image: url("icons/arrow-up.png");
}

.icon-create {
   background-image: url("icons/create.png");
}

.icon-visibility {
   background-image: url("icons/visibility.png");
}

.icon-sort {
   background-image: url("icons/sort.png");
}

.icon-arrow-down {
   background-image: url("icons/arrow-down.png");
	display: none;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

@media only screen and (max-width: 1000px) {
	 .taskManagment, .taskVisibility, .taskSort {
    	width: auto;
    	display: inline-block;
	 }
    .taskActions {
	    display: inline-block;
	 }
}

@media only screen and (max-width: 800px) {
	  	.icon-arrow-down {
		   display: inline-block;
	 	}
		#menuUrls {
			display: none;
			background-color: white;
			border-bottom: 3px solid #0095ff;
		}
		#menuUrls.responsive li {
			 display: block;
		}
		#menuUrls.responsive {
			 position: absolute;
			 margin-left: 0;
			 display: block;
			 left: 5%;
		}
		#logo {
			width: 143px;
			height: 34px;
		}
}

@media only screen and (max-width: 600px) {
	 .taskColumn, .taskColumnFirst {
    	width: auto;
	 }
	 .taskGroupColumnFirst, .taskGroupColumn {
    	width: 50%;
 	 }
    .task {
	    display: inline-grid;
	 }
	 .groupBtns {
		 display: inline-flex;
	 }
}

@media only screen and (max-width: 390px) {
	#logo {
		width: 115px;
		height: 27px;
	}
}
