html {
	min-height: 100vh;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
	color: #3c4759;
	min-height: 100%;
}

.content {
    min-height: calc( 100vh - 57px );
    margin: 0;
}

header, .taskActions {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	align-items: stretch;
	font-size: 30px;
}

#logo {
	background-image: url("img/logo.png");
	display: inline-block;
   width: 161px;
	height: 38px;
   background-size: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logoMenu {
    margin: auto;
    font-weight: bold;
	 margin-left: 0;
 }

#logoMenu ul li a {
   color: #3c4759;
	transition: 0.5s;
}

#logoMenu ul li a:hover {
   color: #68768c;
	transition: 0.5s;
}

#registration, #userActions {
   margin-right: 0;
}

#menuUrls {
	z-index: 999;
}

#userMenu, .userMenu {
	transition: 0.5s;
	border: 1px solid;
	border-radius: 4px;
	cursor: pointer;
   font-size: 16px;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 8px;
	color: #0095ff;
}

#userMenu:hover {
	transition: 0.5s;
	background-color: #f9f9f9;
	color: #0095ff;
}

ul#userMenuOptions {
	list-style-type: none;
	margin: 0;
	background-color: white;
	border-bottom: 3px solid #0095ff;
	padding: 6px;
	font-size: 16px;
	left: 0;
	top: 0;
	visibility: hidden;
	position: absolute;
}

ul#userMenuOptions li {
	display: block;
}

ul#userMenuOptions a {
	color: #3c4759;
}

ul#userMenuOptions li:hover {
	color: #68768c;
}

#menuUrlsBtn {
	display: none;
}

ul {
    list-style-type: none;
    margin: 0;
	 margin-left: 10px;
	 display: inline-block;
    padding: 0;
    overflow: hidden;
	 font-weight: normal;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    margin: 5px;
	 font-size: 16px;
    text-decoration: none;
}

li a:hover {
	color: #3c4759;
	transition: 1s;
}

footer {
  padding: 3px;
  position: relative;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background-color: #0095ff;
  color: white;
  text-align: center;
}

a {
	text-decoration: none;
	color: #3c4759;
}

.icon, .icon-big {
   display: inline-block;
   width: 20px;
	height: 20px;
   background-size: 100%;
	margin-left: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.icon-big {
	width: 25px;
	height: 25px;
	margin-left: 0;
	margin-right: 5px;
	margin-top: 3px;
}

.icon-arrow-down {
   background-image: url("icons/arrow-down.png");
	display: none;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

section {
	width: 100%;
	height: 100vh;
	display: flex;
	color: black;
}

.sectionContainer {
	width: 90%;
	display: flow-root;
	text-align: center;
	margin: auto auto;
}

.mainSection {
	height: calc( 100vh - 87px );
}

.sectionHeader {
	margin: 20px auto;
	font-size: 45px;
	width: 100%;
	text-align: center;
	height: 10%;
	opacity: 0;
}

.sectionSmallAdnotation {
	color: #828487;
	font-size: 24px;
	height: 10%;
	opacity: 0;
}

.sectionSmallSmallAdnotation {
	color: #828487;
	font-size: 24px;
	height: 10%;
	opacity: 0;
}

h1 {
    text-align: center;
    margin: 0 auto;
}


.sectionLogo {
	height: 149px;
	width: 90%;
	opacity: 0;
	animation: fadeIn 1.5s;
	margin: 70px auto;
	animation-fill-mode: forwards;
}

.sectionLogoImg {
	margin: auto auto;
	background-image: url("img/logo.png");
	width: 100%;
   height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	max-height: 149px;
	max-width: 604px;
}

.sectionMidSizeText {
	margin: 10px auto;
	width: 100%;
	font-size: 42px;
	opacity: 0;
}

.customizeOptionsSection {
	background: #f7f7f7;
}

.customizeOptionContainerList {
	width: 100%;
	margin: 70px auto;
}

.customizeOptionContainer {
	display: inline-block;
	opacity: 0;
	margin: auto;
}

.customizeOptionIcon {
	width: 65px;
	height: 65px;
	display: inline-block;
	background-size: 100%;
	margin: 10px 30px;
}

.customizeOptionIconMove {
	background-image: url("icons/arrow-upLight.png");
}

.customizeOptionIconEdit {
	background-image: url("icons/editLight.png");
}

.customizeOptionIconSort {
	background-image: url("icons/sortLight.png");
}

.customizeOptionIconSettings {
	background-image: url("icons/settingsLight.png");
}

.customizeOptionTitle {
	font-size: 24px;
	color: #828487;
}

.notifictionsIconNotification {
	background-image: url("icons/notificationLight.png");
	height: 200px;
	width: 200px;
	background-size: 100%;
	margin: 30px auto;
	opacity: 0;
	animation-fill-mode: forwards;
}

.notifictionsIconNotificationGreen {
	animation: makeNotificationGreen 0.5s ease-in-out;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes makeNotificationGreen {
	0% { background-image: url("icons/notificationLight.png"); }
	25% { background-image: url("icons/notificationGreen1.png"); }
	50% { background-image: url("icons/notificationGreen2.png"); }
	80% { background-image: url("icons/notificationGreen.png"); }
	100% { background-image: url("icons/notificationGreen.png"); }
}


@keyframes fadeIn {
	from { opacity:0;}
	to {opacity:1; }
}

@keyframes doneTextAnimation {
	from { color: white; border-color: #292929;}
	to { color: #4CAF50; border-color: #4CAF50;}
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 800px) {
	  	.icon-arrow-down {
		   display: inline-block;
	 	}
		#menuUrls {
			display: none;
			background-color: white;
			border-bottom: 3px solid #0095ff;
		}
		#menuUrls.responsive li {
			 display: block;
		}
		#menuUrls.responsive {
			 position: absolute;
			 margin-left: 0;
			 display: block;
			 left: 5%;
		}
		#logo {
			width: 143px;
			height: 34px;
		}
}


@media only screen and (max-width: 390px) {
	#logo {
		width: 115px;
		height: 27px;
	}
	.mainSection {
		height: calc( 100vh - 83px );
	}
	.sectionLogo {
		margin: auto;
	}
	.sectionHeader {
	    margin: 15px auto;
		 font-size: 35px;
	 }
	 .sectionSmallAdnotation {
		 font-size: 27px;
    }
	 .sectionMidSizeText {
		 margin: auto;
		 font-size: 30px;
	 }
	 .customizeOptionTitle {
		 font-size: 23px;
	 }
	 .customizeOptionIcon {
	 	width: 45px;
	 	height: 45px;
	}
}
