{% extends "scheduy/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans "Index" %}
{% endblock title %}
{% block content %}
<section class="mainSection">
   <div class="sectionContainer">
      <div class="sectionLogo"><div class="sectionLogoImg"></div></div>
      <div class="sectionHeader" style="animation: fadeIn 2s ease-out; opacity:1;"><h1>{% trans "Manage your tasks easier" %}</h1></div>

      </div>
</section>
<section class="customizeOptionsSection">
   <div class="sectionContainer">
      <div class="sectionHeader" id="customizeOptionsSectionHeader"><h1>{% trans "Customize your list as you want" %}</h1></div>
      <div class="customizeOptionContainerList">
         <div class="customizeOptionContainer" id="customizeOptionsMove">
            <div class="customizeOptionIcon customizeOptionIconMove"></div>
            <div class="customizeOptionTitle">{% trans "move" %}</div>
         </div>
         <div class="customizeOptionContainer" id="customizeOptionsEdit">
            <div class="customizeOptionIcon customizeOptionIconEdit"></div>
            <div class="customizeOptionTitle">{% trans "edit" %}</div>
         </div>
         <div class="customizeOptionContainer" id="customizeOptionsSort">
            <div class="customizeOptionIcon customizeOptionIconSort"></div>
            <div class="customizeOptionTitle">{% trans "sort" %}</div>
         </div>
         <div class="customizeOptionContainer" id="customizeOptionsSettings">
            <div class="customizeOptionIcon customizeOptionIconSettings"></div>
            <div class="customizeOptionTitle">{% trans "change color" %}</div>
         </div>
      </div>
      <div class="sectionSmallAdnotation" id="customizeOptionsSmallAdnotation">{% trans "You can manage your tasks simply with just one click." %}</div>
   </div>
</section>
<section class="notificationsSection">
   <div class="sectionContainer">
      <div class="sectionHeader" id="notificationsSectionHeader"><h1>{% trans "You won't forget" %}</h1></div>
      <div class="notifictionsIconNotification" id="notifictionsIconNotification"></div>
      <div class="sectionSmallAdnotation" id="notificationsSectionSmallAdnotation">{% trans "Enable notifictions to be up-to-date." %}</div>
   </div>
</section>
<script type="text/javascript">
var list = [
   {
      "id": "customizeOptionsSectionHeader",
      "duration": 1500
   },
   {
      "id": "customizeOptionsMove",
      "duration": 1500
   },
   {
      "id": "customizeOptionsEdit",
      "duration": 1750
   },
   {
      "id": "customizeOptionsSort",
      "duration": 2250
   },
   {
      "id": "customizeOptionsSettings",
      "duration": 2500
   },
   {
      "id": "customizeOptionsSmallAdnotation",
      "duration": 2000
   },
   {
      "id": "notificationsSectionHeader",
      "duration": 2000
   },
   {
      "id": "notificationsSectionSmallAdnotation",
      "duration": 2000
   },
   {
      "id": "notifictionsIconNotification",
      "duration": 3000,
      "classAnimation": "notifictionsIconNotificationGreen"
   },
];
$(window).scroll(function() {
   for (var i=0; i< list.length; i++) {
      var el = $('#' + list[i].id);
      var elBottom = el.offset().top + el.outerHeight();
      var windowBottom = $(window).scrollTop() + $(window).height();
      if (windowBottom > elBottom){
         el.fadeTo( list[i].duration, 1 ).addClass(list[i].classAnimation);
      }
}
});
</script>
{% endblock content %}
