{% extends "todoapp/base.html" %}
{% block title %}
Index
{% endblock title %}

{% block content %}
   <h3>New task:</h3>

   <a href="{% url 'TaskCreate' %}" ><input type="button" class="btn-add" value="Add task" id="addTaskBtn"></a>
	<a href="{% url 'TaskGroupCreate' %}" ><input type="button" class="btn-add" value="Add task group" id="addTaskGroupBtn"></a>
   <div id="tasks">
   {% if taskgroup_list %}
   <h1>Tasks</h1>

    {% for group in taskgroup_list %}
	 <div class="group">
 		<div class="groupTitle" style="background-color: {{group.color}};">
			<div class="taskGroupColumnFirst">{{ group.name }}</div>
			<div class="taskGroupColumn"><div class="groupBtns"><a href="{% url 'TaskGroupUpdate' group.id %}"><span class="fas fa-edit"></span> Edit</a> <a href="{% url 'TaskGroupDelete' group.id %}"><span class="fas fa-trash-alt"></span> Delete</a></div></div>
		</div>
	 {% for task in task_list %}
	 	{% if task.group.id == group.id %}
		<div class="task">
			<div class="taskColumnFirst">
				<div class="taskTitle">{{ task.name }}</div>
				<div class="taskDeadline">{{ task.deadline }}
					{% if task.isExpired %}
					<span class="taskTimeRemainingR">{{ task.remainingTime }}</span>
					{% else %}
					<span class="taskTimeRemainingG">{{ task.remainingTime }}</span>
					{% endif %}
				</div>
				<div class="taskDetails">{{ task.details }}</div>
			</div>
			<div class="taskColumn">
				<input id="{{ task.id }}" type="checkbox" {% if task.is_done %} checked {% endif %} onclick="{location.href='{% url 'IsDoneUpdate' task.id %}'}">
  				<label for="{{ task.id }}"></label>
			</div>
			<div class="taskColumn">
				<div><a href="{% url 'TaskUpdate' task.id %}"><span class="fas fa-edit"></span> Edit</a></div><a href="{% url 'TaskDelete' task.id %}"><span class="fas fa-trash-alt"></span> Delete</a>
			</div>
		</div>
		{% endif %}
	 {% endfor %}
 </div>
	 {% endfor %}
 </div>
{% else %}
    <p>No tasks.</p>
{% endif %}
{% endblock content %}
