{% extends 'scheduyapp/base.html' %}
{% load tz %}
{% load i18n %}
{% block title %}{% trans "Edit account" %}{% endblock %}
{% block scripts %}
<script type="text/javascript">
function onSubmit() {
   location.href = '{% url 'SetUserPreference' %}?timezone=' + document.getElementById("timezonePreference").value + '&language=' + document.getElementById("languagePreference").value + '&datetimeFormatPreference=' + document.getElementById("datetimeFormatPreference").value;
}

function getLocalTimezone() {
   var offset = new Date().getTimezoneOffset() / 60;
   if (offset==0)
      offset = '+' + offset;
   var local = 'Etc/GMT' + offset;
   document.getElementById("localTimezone").innerHTML = "{% trans 'Detected timezone' %}" + ": <span style='color: #0095ff; cursor: pointer;'>" + local + "</span>";
   document.getElementById("localTimezone").addEventListener("click", function(){ document.getElementById("timezonePreference").value = local; });
}
</script>
{% endblock %}
{% block content %}
   <h2>{% trans "Edit account" %}</h2>
   {% if timezone_list %}
<p><label for="timezonePreference">{% trans "Timezone" %}:</label>
<select id="timezonePreference">
{% for timezone in timezone_list %}
    <option value="{{ timezone }}" {% if user.timezonePreference == timezone %} selected {% endif %}>{{ timezone }}</option>
{% endfor %}
</select></p>
<p id="localTimezone"></p>
<script>
getLocalTimezone();
</script>
<p><label for="languagePreference">{% trans "Language" %}:</label>
<select id="languagePreference">
{% for language in language_list %}
    <option value="{{ language.0 }}" {% if user.languagePreference == language.0 %} selected {% endif %}>{{ language.1 }}</option>
{% endfor %}
</select></p>
<p><label for="datetimeFormatPreference">{% trans "Datetime format" %}:</label>
<select id="datetimeFormatPreference">
{% for datetime in datetimeformat_list %}
    <option value="{{ datetime }}" {% if user.datetimeFormatPreference == datetime %} selected {% endif %}>{{ datetimeNow|timezone:user.timezonePreference|date:datetime }}</option>
{% endfor %}
</select></p>
<input type="submit" onclick="onSubmit();" value="{% trans "Submit" %}"></input>
{% endif %}
{% endblock %}
