body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
}

#tasks {
	margin-top: 20px;
}

input, select, input[type="color"] {
   padding: 6px 10px;
   margin: 8px 0;
   box-sizing: border-box;
	box-shadow: #989898 0px 0px 7px;
	border: none;
	background-color: white;
}

input[type="color"] {
   padding: 0px;
}

form {
    width: 90%;
    padding: 12px;
    margin: 20px auto 20px auto;
    box-shadow: #989898 0px 0px 7px;
}

input[type="submit"] {
	background-color: whitesmoke;
	font-weight: bold;
	box-shadow: #989898 0px 0px 7px;
}

.btn-add {
	border: none;
   color: white;
   border-radius: 10%;
	box-shadow: 0px 0 2px #ababab;
	font-weight: bold;
	padding: 6px 10px;
}

.btn-add {
	background: #4CAF50;
}

footer {
  padding: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  text-align: center;
}

.fa, .fas {
	font-weight: 900;
	color: black;
	text-shadow: 0px 0px 3px #f5f5f5;
}

a {
	text-decoration: none;
	color: black;
	text-shadow: 0px 0px 3px #f5f5f5;
}

.group {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
}

.groupTitle {
	background-color: whitesmoke;
	font-size: 25px;
	font-weight: bold;
	padding: 9px;
	box-shadow: #989898 0px -1px 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.task {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: #989898 0px 0px 7px;
	width: 100%;
	margin-bottom: 10px;
}

.taskColumn, .taskColumnFirst, .taskGroupColumn, .taskGroupColumnFirst {
   float: left;
   width: 15%;
	padding: 12px;
}

.taskColumnFirst {
   width: 70%;
}

.taskGroupColumnFirst {
   width: 85%;
}

.taskTitle {
	font-size: 24px;
}

.taskDeadline {
	font-size: 14px;
	color: #989898;
}

.taskTimeRemainingR, .taskTimeRemainingG{
	color: white;
	background-color: red;
	border-radius: 4px;
	padding: 1px;
}

.taskTimeRemainingR {
	background-color: red;
}

.taskTimeRemainingG {
	background-color: #4CAF50;
}

.taskColumn input {
    position: absolute;
    left: -9999px;
}

.taskColumn label {
	 display: inline-block;
	 box-shadow: #989898 0px 0px 7px;
	 transition: all 0.3s ease-in 0s;
	 background-color: whitesmoke;
	 padding: 6px 10px;
}

.taskColumn label:hover {
    box-shadow: #989898 0px 0px 16px;
	 transition: all 0.3s ease-in 0s;
}

input:checked + label {
    background-color: #4CAF50;
	 transition: all 0.3s ease-in 0s;
}

input + label:before {
    content: "Undone";
    float: left;
	 transition: all 0.3s ease-in 0s;
}

input:checked + label:before {
    content: "Done";
    color: white;
    float: left;
	 transition: all 0.3s ease-in 0s;
 }
