{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Scheduy - {% block title %}{% endblock %}</title>
        {% block scripts %}{% endblock %}
        <meta charset="UTF-8">
     	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
     	  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      	<link rel="stylesheet" href="{% static 'scheduyapp/style.css' %}"/>
    </head>
    <body>
      <div class="content">
      <header><div id="logoMenu">Scheduy
         <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Support project</a></li>
         </ul>
      </div>
         {% if user.is_authenticated %}
            <div id="userActions"><div id="userMenu" title="Show or hide menu" onclick="SetMenuVisibility();">{{ user.username|capfirst }}</div>
            <div id="userTimezone">{{ user.timezonePreference }}</div></div>
               <ul id="userMenuOptions">
                  <a href="{% url 'UserUpdate' %}"><li>Preferences</li></a>
                  <a href="{% url 'logout' %}"><li>Logout</li></a>
               </ul>

         {% else %}
         <div id="registration"><div id="userMenu">Log in</div>
         <div id="userMenu">Sign up</div></div>
         {% endif %}
      </header>

      {% if user.is_authenticated %}
      {% else %}
      <div>
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a> |
      <a href="{% url 'signup' %}">signup</a></div>
      {% endif %}
    {% block content %}{% endblock %}
    </div>
    <footer>
         <p>Scheduy @ 2018</p>
    </footer>

    <script type="text/javascript">
    function SetMenuVisibility() {
      var menu = document.getElementById("userMenuOptions");
      if (menu.style.display=="none")
      {
         var element = document.getElementById("userMenu");
         menu.style.display = "block";
         menu.style.top = element.getBoundingClientRect().bottom + "px";
         menu.style.left = element.getBoundingClientRect().x + (element.getBoundingClientRect().width - menu.offsetWidth)/2 + "px";
      }
      else
         menu.style.display = "none";
    }
    </script>
    </body>
</html>
