{% extends "scheduyapp/base.html" %}
{% load tz %}
{% load i18n %}
{% block title %}
{% trans "Index" %}
{% endblock title %}

{% block content %}
<style>
input + label:before {
    content: "{% trans 'Undone' %}";
    float: left;
	 transition: all 0.3s ease-in 0s;
}

input:checked + label:before {
    content: "{% trans 'Done' %}";
    color: #4CAF50;
    float: left;
	 transition: all 0.3s ease-in 0s;
 }

input#showDone + label:before {
     content: "{% trans 'Hiding done' %}";
 }

 input#showDone:checked + label:before {
      content: "{% trans 'Showing done' %}";
  }
</style>
{% if user.is_authenticated %}
   <div class="taskActions">
      <div class="taskManagment">
         <h4>{% trans "Creating" %}</h4>
         {% if total_taskgroup_count > 0 %}<a href="{% url 'TaskCreate' %}" ><input type="button" value="{% trans "Add task" %}"></a>{% endif %}
      	<a href="{% url 'TaskGroupCreate' %}" ><input type="button" value="{% trans "Add group" %}"></a>
      </div>
      {% if total_task_count > 0 %}<div class="taskVisibility">
         <h4>{% trans "Visibility" %}</h4>
         <input id="showDone" type="checkbox" {% if user.showDonePreference %} checked {% endif %} onclick="{location.href='{% url 'SetUserPreference' %}?showdone=True'}">
         <label for="showDone"></label>
      </div>
      <div class="taskSort">
         <h4>{% trans "Sorting" %}</h4>
         <select id="taskOrderPreference">
             <option value="priority">{% trans "Priority" %}</option>
             <option value="name">{% trans "Name" %}</option>
             <option value="deadline">{% trans "Deadline" %}</option>
         </select>
         <select id="taskOrderPreferenceValue">
             <option value="ascending">{% trans "Ascending" %}</option>
             <option value="descending">{% trans "Descending" %}</option>
         </select>
         <input type="button" value="{% trans "Save" %}" onclick="SetTaskOrderPreference();"/>
      </div>{% endif %}
   </div>

   {% if taskgroup_list %}
   <div id="tasks">
   <script type="text/javascript">
   function SetTaskOrderPreference() {
      var order = document.getElementById("taskOrderPreference").value;
      if (document.getElementById("taskOrderPreferenceValue").value == "descending")
          order = '-' + order;
      location.href = '{% url 'SetUserPreference' %}?taskorder=' + order;
   }

   function UpdateTimer(taskEl, seconds, initialDate) {
     var secondsTotal = parseInt(seconds) - (new Date() - initialDate) / 1000;
     var days = 0;
     var hours = 0;
     var mins = 0;
     var text = '{% trans "remaining" %}';
     var value = '';
      if (secondsTotal < 0) {
           secondsTotal = secondsTotal * -1;
           text = '{% trans "ago" %}';
           if (taskEl.className == "taskTimeRemainingG")
               taskEl.className = "taskTimeRemainingR";
        }
      if (secondsTotal >= 24*3600) {
           var secondsOffset = secondsTotal % (24*3600);
           days = parseInt((secondsTotal - secondsOffset) / (24*3600));
           secondsTotal = secondsOffset;
        }
      if (secondsTotal >= 3600) {
           var secondsOffset = secondsTotal % 3600;
           hours = parseInt((secondsTotal - secondsOffset) / 3600);
           secondsTotal = secondsOffset;
        }
      if (secondsTotal >= 60) {
           var secondsOffset = secondsTotal % 60;
           mins = parseInt((secondsTotal - secondsOffset) / 60);
        }
      if (days < 1 && hours < 1)
           value = mins + " m " + text;
      else if (days < 1)
           value = hours + " h, " + mins + " m " + text;
      else
           value = days + " d, " + hours + " h, " + mins + " m " + text;
      taskEl.innerHTML =  value;
   }
   function SetTimer(taskId, secondsRemaining) {
     var el = document.getElementById(taskId);
     var initialDate = new Date();
     UpdateTimer(el, secondsRemaining, initialDate);
     setInterval(UpdateTimer, 10000, el, secondsRemaining, initialDate);
   }
   </script>
    {% for group in taskgroup_list %}
	 <div class="group" style="border-left: 2px solid {{group.color}}; border-right: 2px solid {{group.color}};">
 		<div class="groupTitle" style="background-color: {{group.color}};">
			<div class="taskGroupColumnFirst">{{ group.name }}</div>
			<div class="taskGroupColumn"><div class="groupBtns"><a href="{% url 'TaskGroupUpdate' group.id %}"><span class="fas fa-edit" title="{% trans "Edit" %}"></span></a> <a href="{% url 'TaskGroupDelete' group.id %}"><span class="fas fa-trash-alt" title="{% trans "Delete" %}"></span></a></div></div>
		</div>
	 {% for task in task_list %}
	 	{% if task.group.id == group.id %}
		<div class="task" style="border-bottom: 2px solid {{group.color}};">
			<div class="taskColumnFirst">
				<div class="taskTitle">{{ task.name }}</div>
				<div class="taskDeadline">{{ task.deadline|timezone:user.timezonePreference|date:user.datetimeFormatPreference}}
					{% if task.isExpired %}
					<span class="taskTimeRemainingR" id="task{{ task.id }}timer">{{ task.remainingTime }}</span>
					{% else %}
					<span class="taskTimeRemainingG" id="task{{ task.id }}timer">{{ task.remainingTime }}</span>
					{% endif %}
				</div>
				<div class="taskDetails">{{ task.details }}</div>
			</div>
			<div class="taskColumn">
				<input id="{{ task.id }}" type="checkbox" {% if task.is_done %} checked {% endif %} onclick="{location.href='{% url 'IsDoneUpdate' task.id %}'}">
  				<label for="{{ task.id }}"></label>
			</div>
			<div class="taskColumn">
				<a href="{% url 'TaskUpdate' task.id %}"><span class="fas fa-edit" title="{% trans "Edit" %}"></span></a><a href="{% url 'TaskDelete' task.id %}"><span class="fas fa-trash-alt" title="{% trans "Delete" %}"></span></a>
			</div>
		</div>
      <script>
      SetTimer('task{{ task.id }}timer', '{{ task.remainingTimeSeconds }}' );
      </script>
		{% endif %}
	 {% endfor %}
 </div>
	 {% endfor %}
 </div>

{% else %}
    {% if total_taskgroup_count < 1 %}
    <p><h1>{% trans "You have not added any group yet" %}</h1>
        <a href="{% url 'TaskGroupCreate' %}"><div id="userMenu">{% trans "Add group" %}</div></a>
    </p>
    {% else %}
      {% if total_task_count < 1 %}
      <p><h1>{% trans "You have added group, create task now" %}</h1>
          <a href="{% url 'TaskCreate' %}"><div id="userMenu">{% trans "Add task" %}</div></a>
      </p>
      {% endif %}
    {% endif %}

{% endif %}
{% endif %}
{% endblock content %}
