{% extends "scheduyapp/base.html" %}
{% load tz %}
{% block title %}
Index
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
   <a href="{% url 'TaskCreate' %}" ><input type="button" value="Add task"></a>
	<a href="{% url 'TaskGroupCreate' %}" ><input type="button" value="Add task group"></a>
   <div id="menuSettings">
      <input id="showDone" type="checkbox" {% if user.showDonePreference %} checked {% endif %} onclick="{location.href='{% url 'SetUserPreference' %}?showdone=True'}">
      <label for="showDone"></label>
   </div>
   <div id="tasks">
   {% if taskgroup_list %}
   <script type="text/javascript">
   function UpdateTimer(taskEl, seconds, initialDate) {
     var secondsTotal = seconds - (new Date() - initialDate) / 1000;
     var days = 0;
     var hours = 0;
     var mins = 0;
     var text = 'remaining';
     var value = '';
      if (secondsTotal < 0) {
           secondsTotal = secondsTotal * -1;
           text = 'ago';
           if (taskEl.className == "taskTimeRemainingG")
               taskEl.className = "taskTimeRemainingR";
        }
      if (secondsTotal >= 24*3600) {
           var secondsOffset = secondsTotal % (24*3600);
           days = parseInt((secondsTotal - secondsOffset) / (24*3600));
           secondsTotal = secondsOffset;
        }
      if (secondsTotal >= 3600) {
           var secondsOffset = secondsTotal % 3600;
           hours = parseInt((secondsTotal - secondsOffset) / 3600);
           secondsTotal = secondsOffset;
        }
      if (secondsTotal >= 60) {
           var secondsOffset = secondsTotal % 60;
           mins = parseInt((secondsTotal - secondsOffset) / 60);
        }
      if (days < 1 && hours < 1)
           value = mins + " m " + text;
      else if (days < 1)
           value = hours + " h, " + mins + " m " + text;
      else
           value = days + " d, " + hours + " h, " + mins + " m " + text;
      taskEl.innerHTML =  value;
   }
   function SetTimer(taskId, secondsRemaining) {
     var el = document.getElementById(taskId);
     var initialDate = new Date();
     setInterval(UpdateTimer, 10000, el, secondsRemaining, initialDate);
   }
   </script>
   <h1>Tasks</h1>
    {% for group in taskgroup_list %}
	 <div class="group" style="border-left: 2px solid {{group.color}}; border-right: 2px solid {{group.color}};">
 		<div class="groupTitle" style="background-color: {{group.color}};">
			<div class="taskGroupColumnFirst">{{ group.name }}</div>
			<div class="taskGroupColumn"><div class="groupBtns"><a href="{% url 'TaskGroupUpdate' group.id %}"><span class="fas fa-edit"></span></a> <a href="{% url 'TaskGroupDelete' group.id %}"><span class="fas fa-trash-alt"></span></a></div></div>
		</div>
	 {% for task in task_list %}
	 	{% if task.group.id == group.id %}
		<div class="task" style="border-bottom: 2px solid {{group.color}};">
			<div class="taskColumnFirst">
				<div class="taskTitle">{{ task.name }}</div>
				<div class="taskDeadline">{{ task.deadline|timezone:user.timezonePreference|date:'Y-m-d H:i'}}
					{% if task.isExpired %}
					<span class="taskTimeRemainingR" id="task{{ task.id }}timer">{{ task.remainingTime }}</span>
					{% else %}
					<span class="taskTimeRemainingG" id="task{{ task.id }}timer">{{ task.remainingTime }}</span>
					{% endif %}
				</div>
				<div class="taskDetails">{{ task.details }}</div>
			</div>
			<div class="taskColumn">
				<input id="{{ task.id }}" type="checkbox" {% if task.is_done %} checked {% endif %} onclick="{location.href='{% url 'IsDoneUpdate' task.id %}'}">
  				<label for="{{ task.id }}"></label>
			</div>
			<div class="taskColumn">
				<a href="{% url 'TaskUpdate' task.id %}"><span class="fas fa-edit"></span></a><a href="{% url 'TaskDelete' task.id %}"><span class="fas fa-trash-alt"></span></a>
			</div>
		</div>
      <script>
      SetTimer('task{{ task.id }}timer', '{{ task.remainingTimeSeconds }}' );
      </script>
		{% endif %}
	 {% endfor %}
 </div>
	 {% endfor %}
 </div>

{% else %}
    <p>No tasks.</p>
{% endif %}
{% endif %}
{% endblock content %}
