{% extends "scheduyapp/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans "Add task" %}
{% endblock title %}
{% block scripts %}
<script src="{% static 'scheduyapp/js/Inputs.js' %}" type="text/javascript"></script>
{% endblock scripts %}
{% block content %}
<form method="post">{% csrf_token %}
   <h2>{% trans "Add task" %}</h2>
   {{ form.as_p }}
   <div class="userMenu" id="addDeadlineBtn" onclick="displayDeadlineInputs();">{% trans "Add date and time" %}</div>
   <div id="deadlineInputs">{% trans "Deadline" %}: <input type="date" id="deadlineDate" onchange="DatetimepickedEvent()"></input>
   <input type="time" id="deadlineTime" onchange="DatetimepickedEvent()"></input></div>
   </br></br><input type="submit" value="{% trans "Save" %}" />
</form>
{% endblock content %}
