{% extends "scheduyapp/base.html" %}
{% load static %}
{% block title %}
Add Group
{% endblock title %}
{% block scripts %}
<script src="{% static 'scheduyapp/js/Inputs.js' %}" type="text/javascript"></script>
{% endblock scripts %}
{% block content %}
<form method="post">{% csrf_token %}
   <h2>Edit task</h2>
   {{ form.as_p }}
   <p>Deadline: <input type="datetime-local" required id="datetimep" onchange="DatetimepickedEvent()"></input></p>
   <input type="submit" value="Update" />
</form>
<script type="text/javascript">Updatedatetimepicker();</script>
{% endblock content %}
